.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.title-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 90px;
  width: auto;
  cursor: pointer;
}

.title {
  font-size: 20px;
}

.options-container {
  display: flex;
  gap: 16px;
}

.option-button {
  font-size: 16px; 
}

.logout-button {
  margin-right: 24px; 
}
