.register-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .register-container {
      width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .register-container {
      width: 50%;
    }
  }
  