.marcaje-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
  }

  .hora-actual {
    font-size: 1.5em;
    margin-top: 10px;
}
  
  mat-form-field {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .marcaje-container {
      width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .marcaje-container {
      width: 50%;
    }
  }
  
  .marcaje-info {
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.info-item {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #555555;
}

.info-value {
    color: #333333;
    font-size: 18px;
}

.info-label-large {
    font-size: 20px;
}